body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f8f8f8;
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
  background: #650000;
  color: white;
  padding: 1rem .5rem;
  margin: 0;
}

.section {
  display: block;
  width: 60%;
  margin: .5rem auto;
  padding: .5rem;
  border: 3px solid #ababab;
  border-radius: 1rem;
  background: #e5e4e4;
    text-align: center;
}

.section-title {
  font-size: 1.2rem;
  margin: .25rem;
  text-align: center;
}


a {
  color: #00B7FF;
}

button {
  display: block;
  padding: .5rem 1rem;
  font-style: italic;
  border-radius: 1rem;
  font-weight: 600;
  border: 3px black;
  outline: none;
  margin: .5rem auto;
  text-align: center;
}

button:active {
  transform: scale(1.1);
}

form {
  display: block;
  margin: 0 auto;
}

input {
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: .4rem;
  margin: .25rem .5rem;
}

#logout {
  background: none;
  font-size: 1rem;
  color: white;
  border: 1px solid white;
  width: 10rem;
}



